<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ebay</title>
</head>
<body>
<a href="{{ url_for('product') }}"><button>product</button></a>

<a href="{{ url_for('cart') }}"><button>cart</button></a>

<h1>welcome to ebay, copyrights to <a href="https://www.ebay.com/">ebay.com</a></h1>


<img src="..\static/ebayHomepage.png" alt="Trulli" width="500" height="333">


<script src="C:\Users\Student\Documents\GitHub\Flask-Routing-Lab\Flask-Routing-Lab\static\js\script.js"></script>

</body>
</html>