<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<a href="{{ url_for('home') }}"><button>home</button></a>

<a href="{{ url_for('cart') }}"><button>cart</button></a>

    <h1>iphone 8</h1>
    <img src="..\static\ebayProduct.png" alt="Trulli" width="500" height="333">

    <div>
        
    </div>

    
    <a href="https://www.ebay.com/itm/224892950383?epid=239093325&hash=item345caa176f:g:ZbEAAOSw5UtiNGH5&amdata=enc%3AAQAHAAAA4FClQx0QnRarb3lpoZAyY%2FJmZ5cyGlhv1zXoldzflA6%2B8AKlS4LGRCUUcSy2aXq6HpBIXmVe9j32Fc8OrbFIpnR6y0mttDqMut4x96fN566sXCKFl90k3BdLwef9x4OanUr6Lh9QUyoHt3hwNS6TKInaSXsBne%2BSrl3SLQTAzJwzEd%2B%2Fe8lYApnfRgVgeSrrggT%2FppsUtkV69X5atDMEEab16MFiKpsZkeVKT9VckLKUj0c68EDpv2%2FALCI2gM%2FHO4sWgCQtbxhsSNKGxwsetmKlhsawcGkf0xnPzdXqEj04%7Ctkp%3ABFBMlMnDnMdg">$319</a>

</body>
</html>